input[type="search"] {
    background: transparent;
    border: none;
    border-bottom: 1px white;
    width: 90vw;
    font-size: larger;
    color: #f5f5f5a8
}

input[type="search"]::placeholder {
    color: #f5f5f5a8;
    text-align: center;
}

.resultText {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff
}

input:focus {
  outline: none;
}
