<div class="text-center mt-4 mb-4">
  <form>
    <input
      id="searchInput"
      class="border-bottom border-white"
      type="search"
      placeholder="Digite o nome do filme e aperte ENTER"
      autocomplete="off"
      autofocus
      (keydown.enter)="getMovies($event)"
      (focus)="inputFocus()"
      (blur)="inputBlur()"
      [(ngModel)]='querySearch'
      [ngModelOptions]="{standalone: true}"
    />
  </form>
</div>

<div *ngIf="hasMovies === true; else noMovies">
  <p class="resultText ml-5 mr-5">{{movies.length}} resultados para '{{queryTitle}}'</p>
  <ol class="list-unstyled row ml-3 mr-3">
    <li *ngFor="let movie of movies; let i = index" class="col-4 py-2">
      <app-movie
        [url]="movie.Poster"
        [title]="movie.Title"
        [isActive]="i === activeIndex"
        (click)="goToMovie(i)"
    >
    </app-movie>
    </li>
  </ol>
</div>

<div *ngIf="hasMovies === false">
  <p class="resultText ml-5 mr-5">Nenhum resultado para '{{queryTitle}}'</p>
</div>

<div *ngIf="hasMovies === undefined">
  <p class="resultText ml-5 mr-5">Pesquise por um filme ou uma série!</p>
</div>

<!-- <ng-template *ngIf="hasMovies == false;" #loadingMovies>
  <p class="resultText ml-5 mr-5">Procurando Filmes ou Séries...</p>
</ng-template> -->


